---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import GmailIcon from "../icons/GmailIcon.astro";
import Code from "../icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import Contacto from "../components/Contacto.astro";
import CVIcon from "../icons/CVIcon.astro";
import Habilidades from "../components/Habilidades.astro";
import TecnologiaIcon from "../icons/TecnologiaIcon.astro";

---

<Layout title="Portfolio de Zakaria">
  <main class="px-4">
    <section id="sobre-mi" class="text-white w-full mx-auto lg:w-[740px] py-18">
      <h1 class="text-2xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hola, soy Zakaria<div
          class="flex justify-center place-items-center-safe"
        >
          <Badge>Disponible para trabajar</Badge>
        </div>
      </h1>
      <h2 class="opacity-80 text-xl lg:text-1.5xl text-pretty text-justify">
        Soy un <span class="text-yellow-300">Desarrollador web</span> en formación del ciclo formativo superior de Desarrollo de Aplicaciones Web (DAW). Me
        apasiona crear soluciones digitales funcionales y bien estructuradas, tanto
        en el frontend como en el backend.<br><br>
        El entusiasmo por la tecnología y la curiosidad constante por explorar nuevas herramientas, software, lenguajes y tendencias me motivan a entender cómo funcionan los sistemas y cómo mejorar los procesos digitales.
      </h2>
      <nav class="flex flex-wrap gap-x-2 mt-5">
        <SocialPill href="https://www.linkedin.com/in/zakaria-ennahouti-152915287" target="_blank">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Zaka-En">
          <GithubIcon class="size-6" />
          Github
        </SocialPill>
        <SocialPill href="mailto:zakariaennahouti@gmail.com">
          <GmailIcon class="size-6" />
          zakariaennahouti@gmail.com
        </SocialPill>
        <SocialPill href="/CVZakariaEnnahouti.pdf" download>
          <CVIcon class="size-6"/>
          Mi CV
        </SocialPill>
      </nav>
    </section>
    
    <section
      id="proyectos"
      class="text-white w-full mx-auto lg:w-[740px] py-18 flex flex-col"
    >
      <h2 class="text-2xl font-semibold flex gap-x-3 items-center">
        <Code class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </section>

    <section
      id="habilidades"
      class="text-white w-full mx-auto lg:w-[740px] py-18 flex flex-col"
    >
      <h2 class="text-2xl font-semibold flex gap-x-3 items-center">
        <TecnologiaIcon />
        Tecnologías
      </h2>
      <Habilidades />
    </section>

    <section id="contacto" class="text-white w-full mx-auto lg:w-[740px] py-18">
      <h2 class="text-2xl font-semibold flex gap-x-3 items-center">
        <GmailIcon class="size-7" />
        Contáctame
      </h2>
      <Contacto />
    </section>
  </main>
  <Footer
    class="flex justify-between items-center py-3 w-full xl:w-[1120px] mx-auto px-3"
  />
</Layout>


