---
import emailjs from '@emailjs/browser';


---



<div class="py-5 lg:py-10 px-4 mx-auto max-w-screen-md">
  
  <form id="contactForm" action="#" class="space-y-8">
    <div>
      <label
        for="email"
        class="block mb-2 text-sm font-medium  dark:text-gray-300"
        >Correo</label
      >
      <input
        type="email"
        id="email"
        class="shadow-sm bg-trasnparent border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
        placeholder="name@email.com"
        required
      />
    </div>
    <div>
      <label
        for="nombre"
        class="block mb-2 text-sm font-medium  dark:text-gray-300"
        >Nombre</label
      >
      <input
        type="text"
        id="nombre"
        class="shadow-sm bg-trasnparent border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
        placeholder="Menganito"
        required
      />
    </div>
    <div>
      <label
        for="asunto"
        class="block mb-2 text-sm font-medium  dark:text-gray-300"
        >Asunto</label
      >
      <input
        type="text"
        id="asunto"
        class="block p-3 w-full text-sm text-white/90 bg-transparent rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
        placeholder="Oferta de trabajo..."
        required
      />
    </div>
    <div class="sm:col-span-2 mb-2">
      <label
        for="mensaje"
        class="block mb-2 text-sm font-medium text-white dark:text-gray-300"
        >Mensaje</label
      >
      <textarea
        id="mensaje"
        rows="6"
        class="block p-2.5 w-full text-sm text-gray-900 bg-transparent rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Deja un mensaje..."></textarea>
    </div>
    <button
      type="submit"
      class="py-3 px-3 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 hover:bg-white/10 cursor-pointer"
      >Enviar</button
    >
  </form>
</div>


<style>
  input{
    margin-bottom: 20px;
  }
</style>


<script>

  import emailjs from '@emailjs/browser';

   (function() {
    emailjs.init("fr_yQ6Tvz7fXpWvVq"); // Consíguela en emailjs.com
  })();

  document.getElementById("contactForm").addEventListener("submit", function(e) {
    e.preventDefault();

    const email = document.getElementById("email").value;
    const asunto = document.getElementById("asunto").value;
    const mensaje = document.getElementById("mensaje").value;
    const nombre = document.getElementById("nombre").value;

    emailjs.send("service_8xdbd6x", "template_kix7eio", {
      from_email: email,
      subject: asunto,
      message: mensaje,
      name:nombre,
    }).then(
      response => alert("Correo enviado correctamente ✅"),
      
    ).catch(error => console.log(error));
  });
</script>
