
---

---

<header class="flex justify-between items-center py-3 w-full xl:w-[1120px] mx-auto px-3" >
  
  <img 
    class="rounded-full w-14 h-14" 
    src="../../public/foto2.webp" 
    alt="Photo Zakaria" />
  
  <nav class="flex flex-row  opacity-90">
    <a href="#top">Home</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a>
  </nav>

  
</header>

<style>
  a{
    padding:10px;
    transition: background-color 0.1s linear;
    border-radius: 4px;
    transition-delay: 0.15s;
  }
  a:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transition-delay: 0s;
  }
</style>
